<?xml version="1.0" encoding="UTF-8" ?><!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.zerock.mapper.menuMapper">

<select id="getMenu" resultType="MenuVO">
select * from tbl_menu
where mno=#{mno}
</select>

<insert id="addMenu" parameterType="MenuVO">
insert into tbl_menu(mno, sno, menu, price, img)
values (seq_menu.nextval,#{sno}, #{menu},#{price},#{img})
</insert>

<update id="modifyMenu" parameterType="MenuVO">
update tbl_menu
set menu=#{menu},price=#{price},img=#{img}
where mno = #{mno}
</update>

<delete id="deleteMenu">
delete from tbl_menu
where mno = #{mno} </delete>


<select id="getList" resultType="MenuVO">
select * from tbl_menu
</select> 

</mapper>