<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 	private static final String INSERT ="insert into TBL_Order (ono,state) \n" +
            "VALUES (SEQ_order.nextval,'준비중')";

    private static final String UPDATE_STATE="update tbl_order set state='준비완료' where ono=?";

    private static final String READ="select * from tbl_order where ono=?";
//    private static final String LIST = "select *\n" +
//            "from (select\n" +
//            "             /*+INDEX_DESC(tbl_order pk_order) */\n" +
//            "          ROWNUM rn, ono,state, REGDATE \n" +
//            "      from TBL_order\n" +
//            "      where ono > 0\n" +
//            "        AND ROWNUM <= (? * ?))\n" +
//            "where rn > ( ? -1) * ?";
    private static final String LIST="select * from tbl_order order by ono";
    private static final String GET_ONO="select max(ono) max from tbl_order"; -->

<mapper namespace="org.zerock.mapper.OrderMapper">

<insert id="create" parameterType="OrderVO">
insert into tbl_board(ono ,state)
values(seq_board.nextval,#{title}, #{content},#{writer})

</insert>
<delete id="remove">
delete
from tbl_board
where bno=#{bno}

</delete>
	<select id="select10" resultType="BoardVO">
<![CDATA[  
select * from tbl_board 
where rownum <=10
order by bno desc
]]>
	</select>

<select id="selectPage" resultType="BoardVO">

<![CDATA[
select bno,title,content,writer,regdate,updatedate,viewcnt
from(
select rownum rn,bno,title,content,writer,regdate,updatedate,viewcnt
from tbl_board where rownum<=(#{page}*#{size}) order by bno desc
)
where rn>(#{page}-1)*#{size}

]]>


</select>
</mapper>
  