<?xml version="1.0" encoding="UTF-8" ?><!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.zerock.mapper.menuMapper">


<select id="getDrinkList" resultType="MenuVO">
select * from tbl_menu
where sno = #{sno} and category='음료'
order by mno
</select> 

<select id="getDessertList" resultType="MenuVO">
select * from tbl_menu
where sno = #{sno} and category='디저트'
order by mno
</select> 
<select id="getMenu" resultType="MenuVO">
select * from tbl_menu
where mno=#{mno}
</select>
</mapper>