<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 
  private static final String INSERT ="insert into TBL_Order (ono,state) \n" +
            "VALUES (SEQ_order.nextval,'준비중')";

    private static final String UPDATE_STATE="update tbl_order set state='준비완료' where ono=?";

    private static final String READ="select * from tbl_order where ono=?";
//    private static final String LIST = "select *\n" +
//            "from (select\n" +
//            "             /*+INDEX_DESC(tbl_order pk_order) */\n" +
//            "          ROWNUM rn, ono,state, REGDATE \n" +
//            "      from TBL_order\n" +
//            "      where ono > 0\n" +
//            "        AND ROWNUM <= (? * ?))\n" +
//            "where rn > ( ? -1) * ?";
 
-->
<mapper namespace="org.zerock.mapper.OrderMapper">

<insert id="create" parameterType="OrderVO">
insert into tbl_order(ono ,state)
values(seq_order.nextval,'준비중')
</insert>
<select id="getList" resultType="OrderVO">
select * from tbl_order order by ono
</select>
<select id="getOrder" resultType="OrderVO">
select * from tbl_order where ono=#{ono}
</select>

<select id="getOno" resultType="int">
select max(ono) ono from tbl_order
</select>
<update id="updateState" parameterType="int">
update tbl_order set state='준비완료' where ono=#{ono}
</update>
</mapper>
  